@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import './Scss//font.scss';
@import './Scss//function.scss';
@import './Scss//mixing.scss';
@import './Scss//variables.scss';

body {
    font-family: 'Poppins', sans-serif;
}

.main_container {
    @include box(100%, 100vh);
    background-color: var(--white);
    // @include flex(column);
    overflow: auto;

    main {
        flex-grow: 1;
        // overflow-y: auto;
        background-color: var(--white);
        // height: calc(100vh - rem(64));
    }
}

a{
    text-decoration: none;
}